/* variables */
:root{
    --clr-w- : hsl(0, 0%, 100%);
    --clr-b- : hsl(0, 0%, 0%);
    --clr-dg- : hsl(0, 0%, 55%);
    --clr-vdg- : hsl(0, 0%, 41%);
    --ff-a- : "Alata", "open sans";
    --ff-j- : "Josefin Sans", "open sans";
}


/* Basic style */

* , *::after, *::before{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html{
    font-size: 100%;
}

body{
    max-width: 90rem;
    margin-inline: auto;
}

img{
    width: 100%;
}

h1{
    color: var(--clr-w-) ;
    border: 0.15rem solid white;
    padding: 2rem;
    font-size: 3rem;
    max-width: 14ch;
    font-family: var(--ff-j-);
    text-transform: uppercase;
    font: 300;
}

h2{
    font-family: var(--ff-j-);
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 400;
}

.container{
    width: 90%;
    margin-inline: auto;
}

@media screen and (max-width:56.19em) {
    h2{
        font-size: 2rem;
        text-align: center;
    }
}

@media screen and (min-width:56.25em) {
    h1{
        border: 0.25rem solid white;
        font-size: 5rem;
        max-width: 13ch;
    }

    .container{
        width: 80%;
    }
}


/* Navigation Styling */

.header{
    position: fixed;
    top: 0%;
    left: 50%;
    width: min(100%, 1440px);
    display: flex;
    justify-content: space-between;
    padding-inline: 2rem;
    background-color: var(--clr-b-);
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 999;
    transform: translateX(-50%);
}

.header img{
    width: 200px;
}

.menu_burger{
    margin-left: auto;
}

.burgerButton{
    display: flex;
    align-items: center;
    height: 33px;
    box-sizing: border-box;
}

.burgerButton > img {
    width: 100%;
}

.burgerButton > .close {
    display: none;
}

.burgerMenu{
    display: none;
}

.nav{
    background-color: var(--clr-b-);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-left: 2rem;
    height: 100vh;
    padding-top: 3rem;
    transform: scale(1 ,0);
    transition: transform 0.25s ease-in-out;
    transform-origin: top;
}

.nav a{
    text-decoration: none;
    margin-top: 1.5rem;
    color: var(--clr-w-);
    font-family: var(--ff-j-);
    font-weight: bold;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.burgerMenu:checked~ .nav{
    transform: scale(1 , 1);
    transition: transform 0.25s ease-in-out 0.5;
}

.burgerMenu:checked~ .nav > a{
    opacity: 1 ;
    transition: opacity 1s ease-in-out 0.5s;
}

.burgerMenu:checked~ .burgerButton > .close{
    display: block;
}

.burgerMenu:checked~ .burgerButton > .open{
    display: none;
}

@media screen and (min-width:56.25em) {
    .header{
        max-width: 1440px;  
    }

    header{
        margin-left: auto;
        margin-right: auto;
    }

    .burgerButton{
        display: none;
    }

    .nav{
        transform: scale(1, 1);
        height: auto;
        flex-direction: row;
        padding-top: 0rem;
        position: relative;
        width: auto;
    }

    .nav> a{
        opacity: 1;
        margin-top: 0;
        margin-left: 2rem;
    }
}


/* hero section styling */

.blackOverlay{
    background-color: var(--clr-b-);
    opacity: 0.25;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
}

.hero{
    background-image: url("./images/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 18rem 0rem 14rem 0;
    z-index: -2;
    overflow: hidden;
    position: relative;
}

@media screen and (min-width:56.25em) {
    .hero{
        background-image: url("./images/desktop/image-hero.jpg");
    }
    
}


/* Banner section styling */

.banner{
    padding:6rem 0;
}

.bannerPoster{
    width: 100%;
}

.bannerBlock{
    background-color: var(--clr-w-);
    margin-left: auto;
    width: 60%;
    padding: 5rem ;
    margin-top: -15rem;
    z-index: 2;
    position: relative;
}

.bannerBlock>p {
    color: var(--clr-dg-);
    line-height: 2;
    margin-top: 2rem;
}

@media screen and (max-width:56.19em) {
    .bannerBlock{
        text-align: center;
        margin-top: 2rem;
        width: 100%;
        padding: 0%;
    }
}

@media screen and (min-width:56.25em) {
    .bannerPoster{
        width: 60%;

    }
}


/* Creation section styling */

.grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}

button{
    grid-row: 3/4;
    font-family: var(--ff-a-);
    border: 0.125rem solid var(--clr-b-);
    color: var(--clr-b-);
    padding: 0.25rem 1.75rem;
    font-size: 2rem;
    text-transform: uppercase;
    max-width: 200px;
}

button:hover{
    background-color: var(--clr-b-);
    color: var(--clr-w-);
}

.products{
    grid-row: 2/3;
}

.gallery{
    position: relative;
    margin-top: 1rem;
}

.gallery img{
    width: 100%;
    
}

.gallery p{
    position: absolute;
    bottom: 100%;
    padding-top: 12.5%;
    padding-left: 1rem;
    color: var(--clr-w-);
    font-family: var(--ff-j-);
    text-transform: uppercase;
    height: 99%;
    width: 100%;
    font-size: 2rem;
    transform: translateY(100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.672), rgba(1, 25, 0, 0));
}

.gallery:hover p{
    color: var(--clr-b-);
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgba(242, 239, 239, 0.529));

}

@media screen and (max-width:56.19em) {
    button{
        margin-inline: auto;
        display: block;
    }
    
}

@media screen and (min-width:56.19em) {
    .grid{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
    .products{
        grid-column: 1/3;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-inline: auto;
    }

    button{
        grid-column: 2/3;
        grid-row: 1/2;
        margin-left: auto;
        max-height: 65px;
        align-self: center;
    }

    .gallery{
        width: 22%;
    }

    .gallery p {

        bottom: 0.5%;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.672), rgba(1, 25, 0, 0));
        padding-top: 130%;
        padding-left: 1rem;
        transform: translateY(0%);
    }

    .gallery:hover p{
        color: var(--clr-b-);
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.821), rgba(255, 255, 255, 0.427));
    }
}


/* Footer Styling */
footer{
    margin-top: 2rem;
    background-color: var(--clr-b-);
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.logo{
    width: 200px;
}

ul>li>a{
    text-decoration: none;
    color: var(--clr-w-);
    font-family: var(--ff-a-);
}

li{
    margin-top: 2rem;
    list-style: none;
}

.social_link{
    margin-top: 2rem;
}

.social_link> a> img{
    width: 50px;
    margin-inline: 1rem;
}

footer p{
    margin-top: 2rem;
    color: var(--clr-w-);
    font-family: var(--ff-a-);
    opacity: 0.75;
}

@media screen and (min-width:56.19em) {
    footer{
        text-align: left;
    }
    
    .footer_grid{  
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }
    ul{
        margin-top: auto;
        display: flex;
        grid-row: 2/3;
        
    }

    li{
        margin-top: 0%;
        margin-left: 2rem;
    }

    li:first-child{
        margin-left: 0;
    }

    .social_link{
        grid-column: 2/3;
        grid-row: 1/2;
        margin-top: 0;
        margin-left: auto;
    }

    footer p {
        text-align: right;
    }

     a {
        position: relative;
    }

    a:hover::after{
        position: absolute;
        content: " ";
        width: 100%;
        top: 100%;
        left: 0;
        background-color: var(--clr-w-);
        height: 1px;
    }
}